* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
}

.title {
    text-align: center;
    padding: 20px 0px;
}

#formMusic {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
}